<!-- <form action="/tags" method="post">
  <label for="tag_name">Tag Name</label>
  <input type="text" name="tag[name]" id="tag_name">
  <input type="submit" value="Create Tag">
</form> -->

<% if @tag.errors.any? %>
  <ul>
    <% @tag.errors.full_messages.each do |error|  %>
       <li><%= error %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for @tag do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.submit %>
<% end %>
