<!DOCTYPE html>
<html>
<head>
  <title>HolyShirt</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <!-- <a href="/random_shirt">GO BUY MOAR SHIRTS</a> -->
  <%# link_to "GO BUY MOOOOAR SHIRTS", "/random_shirt" %>
  <%= link_to "GO BUY MOOOOAAAAAR SHIRTS", random_shirt_path %>
<%= yield %>

</body>
</html>
